@import "~bootstrap/scss/bootstrap";

body {
    background-color: #FAFAFC;
}

.loadingIcon {
    fill: map-get($map: $theme-colors, $key: primary);
}

//ALIGNMENT STYLES
    .centerText {
        text-align: center;
    }

    .leftText {
        text-align: left;
    }

    .noWrap {
        // white-space: nowrap;
        overflow-wrap: break-word;
    }

    .divInlineBlock {
        display: inline-block;
    }

    .verticalCenter {
        display: flex;
        align-items: center;
    }

// GENERAL STYLES
    .fullWidth {
        width: 100%;
    }

    .card {
        border-radius: 0.75rem;
        border: null;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }

    .buffer {
        height: 2rem;
    }

    .normalFontWeight {
        font-weight: normal;
    }

//ClubItem.js
    .clubItem {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

//TermList.js, ClubList.js
    .cardHeader {
        margin-bottom: 0;
        text-align: center;
    }