<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>

    <!-- Custom Bootstrap Stylesheet PRODUCTION-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
</head>

<body style="margin: 0; height: 100%; overflow: hidden">
    <div id="root"></div>

    <!-- React Script Bundle PRODUCTION-->
    <script src="{{ url_for('static', filename='js/app_bundle.js') }}"></script>

    <!-- React Script Bundle DEVELOPMENT-->
    <!-- <script src="http://localhost:8080/app_bundle.js"></script> -->
</body>

</html>